<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <form class="row" action="http://10.0.2.15:8000/api/crearsala" method="post">
                    <input name="email" type="hidden" value="{{emailviejo}}">
                    <input name="receptor" type="hidden" value="{{userfin.id}}">
                    <button class="btn btn-success espaciobtones" type="submit" id="enviar">{{userfin.nombre}}</button>
                </form>
            </div>
        </div>
    </div>
</div>
